.navbar {
    background-color: #000000;
    overflow: hidden;
    border-radius: 20px;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
}

#navbar_home {
    color: red;
    float: left;
    font-family: sans-serif;
    text-decoration: none;
    text-align: center;
}

#userbar {
    float: right;
}