table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
  
table a {
    color: #000;
}
  
table a:hover {
    color: #373737;
    text-decoration: none;
}
  
td {
    padding: 5px;
    background-color: white;
}

.leftpart {
    width: 70%;
}
  
.rightpart {
    width: 30%;
}

.table_header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5px;
}