table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
  
table a {
    color: #000;
}
  
table a:hover {
    color: #373737;
    text-decoration: none;
}
  
td {
    padding: 5px;
    background-color: white;
    border-color: black;
}

.leftpart {
    width: 70%;
}
  
.rightpart {
    width: 30%;
}

th {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5px;
}

.table_topic {
    text-align: center;
}