#create_category_form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  margin: 0 auto;
  color: aliceblue;
}

.form_header {
  margin-bottom: 8px;
}

.form_labels {
  margin-bottom: 4px;
}

.form_button {
  padding: 10px;
  cursor: pointer;
}

.form_textarea {
  padding: 8px;
  margin-bottom: 12px;
  resize: vertical;
}

.form_input {
  padding: 8px;
  margin-bottom: 8px;
}
