.navbar {
  background-color: #f5f5ff;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #010110;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: sans-serif;
}

#navbar_home {
  color: #2215f7;
  float: left;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
}

#userbar {
  float: right;
}
